<!doctype html>
<html ng-app="todoApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="todo.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	<body ng-controller="TodoListController as todoList">
		<h2>{{todoList.title}}</h2>

		<button type="button" ng-click="todoList.Random()" ng-show ="todoList.show"> Random function(play)</button>
		<button type="button" ng-click="todoList.sum()">Check console (f12)</button>
		<button type="button" ng-click="todoList.restart()">restart(reset)</button>

		<div ng-repeat="show in todoList.ranNums">
			ลำดับที่ {{$index}} <br>
			{{show.name}} <br>
			<img src ="{{show.pic}}" width="50" height="50">
			<hr>
		</div>

	</body>
</html>
